.footer {
  color: #69c8ff;
  height: 2rem;
  font-size: 1rem;
  text-align: center;

  p {
    margin-top: 3rem;

    a {
      color: #67b4fc;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
